<launch>
	<!--Example launch file including a Da Vinci robot and two different needle models.-->
	<!-- Run with "roslaunch cwru_davinci_sim_examples davinci_with_model.launch" -->
	
	<!--The following statement launches a Gazebo world with a sticky-fingers and motion-enabled Da Vinci robot -->
	<include file="$(find cwru_davinci_gazebo)/launch/sticky_davinci_gazebo.launch"/>
	
	<!--The following statement can be used a to spawn a Gazebo model.-->
	<!--In this case, spawn the needle_r object, with name some_name, at coordinates (10, 10, 10).-->
	<!--Additional models may be found in cwru_davinci_simulation/cwru_davinci_gazebo/props.-->
	<node name="spawn_model_1" pkg="gazebo_ros" type="spawn_model" args="-sdf -database needle_r -model some_name -x 1 -y 1 -z 1" respawn="false" />
	
	<!--Repeat calls as necessary to spawn more models. Node name and model name must be different.-->
	<node name="spawn_model_2" pkg="gazebo_ros" type="spawn_model" args="-sdf -database 1mm_cube -model some_other_name -x .5 -y 1.5 -z 1" respawn="false" />
</launch>
