<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch" pass_all_args="true">
		<arg name="world_name" value="$(find cwru_davinci_simulation)/world/empty.world"/>
	</include>
	
	<!--Spawn in the camera.-->
	<include file="$(find cwru_davinci_simulation)/launch/spawn_camera.launch">
		<!--arg name="xyz" value="0 0 0"/>
		<arg name="rpy" value="0 0 0"/-->
	</include>
	
	<!--Spawn PSMs-->
	<param name="dvrk/PSM1/robot_description" command="$(find xacro)/xacro.py '$(find cwru_davinci_geometry_models)/model/PSM1.urdf.xacro'"/>
	<param name="dvrk/PSM2/robot_description" command="$(find xacro)/xacro.py '$(find cwru_davinci_geometry_models)/model/PSM2.urdf.xacro'"/>
	
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model davinci_PSM1" ns="dvrk/PSM1"/>
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model davinci_PSM2" ns="dvrk/PSM2"/>
	
	<rosparam file="$(find cwru_davinci_simulation)/config/psm_controller_config.yaml" command="load" ns="dvrk/PSM1"/>
	<rosparam file="$(find cwru_davinci_simulation)/config/psm_controller_config.yaml" command="load" ns="dvrk/PSM2"/>
	<node
		name="controller_spawner"
		pkg="controller_manager"
		type="spawner"
		respawn="false"
		output="screen"
		ns="dvrk/PSM1"
		args="joint_state_controller joint_traj_controller"
	/>
	<node
		name="controller_spawner"
		pkg="controller_manager"
		type="spawner"
		respawn="false"
		output="screen"
		ns="dvrk/PSM2"
		args="joint_state_controller joint_traj_controller"
	/>
	
	<node
		name="robot_state_publisher"
		pkg="robot_state_publisher"
		type="robot_state_publisher"
		ns="dvrk/PSM1"
	/>
	<node
		name="robot_state_publisher"
		pkg="robot_state_publisher"
		type="robot_state_publisher"
		ns="dvrk/PSM2"
	/>
</launch>
